/*
Layout
*/

body {
	margin: 2em;
}

.login-dropdown input, button {
	margin: 0.2em;
}

.map-container {
	width: 100%;
	border: solid black 0.2em;
	background-color: DarkGray;
}

.equal-heigt {
	overflow: hidden;
}